body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    
}
.btn-primary {
    background-color: #0056B3;
    border-color: #0056B3;
}
.btn-primary:hover {
    background-color: #004a9e;
    border-color: #004a9e;
}
.form-control {
    border: 1px solid #ced4da;
}
.form-control:focus {
    border-color: #0056B3;
    box-shadow: none;
}
.text-center {
    text-align: center;
}


.sidebar {
    position: fixed;
    height: 100vh;
    width: 250px;
    background-color: #0056B3;
    z-index: 1000;
    padding-top: 20px;
}
.content-container {
    margin-left: 250px;
    padding: 20px;
}
@media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
    }
    .content-container {
        margin-left: 0;
    }
}


.sidebar a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #004a9e;
}
.sidebar .active {
    background-color: #004494;
}
.content {
    margin-left: 250px;
    padding: 20px;
}
@media (max-width: 768px) {
    .sidebar {
        position: relative;
        width: 100%;
        min-height: auto;
    }
}
.navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}